<template lang="pug">
  div
    router-link(:to="{name: 'Svgs' }")
     div Conocimientos básicos svg
</template>


<script>
export default {
  name: 'Home',
};
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
