<template>
  <div>
    <div id='map'></div>
  </div>
</template>

<script>
const d3 = require('d3');
const topojson = require('topojson');

export default {
  name: 'MapBase',
  mounted() {
    const width = 960;
    const height = 1110;
    const svg = d3.select('#map')
      .append('svg')
      .attr('width', width)
      .attr('height', height);

    d3.json('/static/spain.json', (err, spain) => { // eslint-disable-line consistent-return
      if (err) return console.error(err);
      const projection = d3.geoMercator()
        .scale(height)
        .center([-3.703274, 40.420633])
        .translate([width / 2, height / 2]);

      // postal core
      const postal = svg.selectAll('.postal')
        .data(topojson.feature(spain, spain.objects.subunits).features)
        .enter()
        .append('path')
        .attr('d', d3.geoPath().projection(projection));

      // postal style
      postal.attr('class', (d) => {
        const clase = `postal-${d.properties.POSTAL}`;
        console.log('clase', clase);
        return clase;
      });

      const place = svg.selectAll('.place')
        .data(topojson.feature(spain, spain.objects.places).features)
        .enter()
        .filter((d) => {
          console.log(d);
          return d.properties.SCALERANK <= 5;
        })
        .append('g')
        .attr('transform', d => `translate(${projection(d.geometry.coordinates)})`);

      place.append('text')
        .text(d => d.properties.NAME);

      place.append('circle')
        .attr('r', 5);
    });
  },
};
</script>

<style>
.postal-BI { fill: rgb(76, 41, 231); }
.postal-E { fill: rgb(26, 172, 33); }
.postal-CT { fill: rgb(143, 19, 40); }
.postal-ML { fill: rgb(194, 37, 37); }
.postal-CI { fill: rgb(137, 138, 143);  }
</style>

