<template>
  <div id="map">

  </div>
</template>

<script>
/* globals L */
const d3 = require('d3');
const topojson = require('topojson');
const libMap = require('./libMap');

export default {
  name: 'MapLeaflet',
  mounted() {
    const map = new L.map('map', { // eslint-disable-line new-cap
      center: [40.417064, -3.703505],
      zoom: 5,
    }).addLayer(new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'));

    const svg = d3.select(map.getPanes().overlayPane).append('svg');
    const g = svg.append('g');
    d3.json('/static/full.json', (err, full) => {
      if (err) return console.log('full', err);
      function projectPoint(x, y) {
        const point = map.latLngToLayerPoint(new L.LatLng(y, x));
        this.stream.point(point.x, point.y);
      }

      const transform = d3.geoTransform({ point: projectPoint });
      const path = d3.geoPath().projection(transform);
      const topojs = topojson.feature(full, full.objects.provincias);
      // const provinces = g.selectAll('.provinces')
      //   .data(topojs.features)
      //   .enter()
      //   .append('path');
      // provinces.attr('fill', d => libMap.getRandomColor())

      function printMap() {
        // provinces.attr('d', path);
        const bounds = path.bounds(topojs);
        libMap.addAttrSvgFromBounds(bounds, svg);
        const topLeft = bounds[0];

        g
          .attr('id', 'groupMap')
          .attr('transform', `translate(${-topLeft[0]}, ${-topLeft[1]})`);

        g.selectAll('.primark')
          .attr('transform', (d) => {
            const point = map.latLngToLayerPoint(new L.LatLng(d.Latitude, d.Longitude));
            return `translate(${point.x}, ${point.y})`;
          });
      }

      printMap();

      map.on('zoomstart', () => {
        d3.select('#groupMap').attr('opacity', 0);
      });
      map.on('zoomend', () => {
        console.log('zoomend');
        printMap();
        d3.select('#groupMap').attr('opacity', 1);
      });

      d3.json('https://api.myjson.com/bins/1cc6a5', (error, primarks) => {
        if (error) return console.error(err);
        return g.selectAll('.primark')
          .data(primarks)
          .enter()
          .append('circle')
          .attr('class', 'primark')
          .attr('r', 5)
          .attr('transform', (d) => {
            const point = map.latLngToLayerPoint(new L.LatLng(d.Latitude, d.Longitude));
            return `translate(${point.x}, ${point.y})`;
          });
      });
    });
  },
};
</script>

<style>
#map {
  width: 960px;
  height: 500px;
}
</style>
