<template>
  <div>
    <div id='map'></div>
  </div>
</template>

<script>
const d3 = require('d3');
const topojson = require('topojson');
const libMap = require('./libMap');

export default {
  name: 'MapProvinces',
  mounted() {
    const width = 960;
    const height = 1110;
    const svg = d3.select('#map')
      .append('svg')
      .attr('width', width)
      .attr('height', height);

    d3.json('/static/full.json', (err, provinces) => { // eslint-disable-line consistent-return
      if (err) return console.error(err);
      const projection = d3.geoMercator()
        .scale(height * 2)
        .center([-3.703274, 40.420633])
        .translate([width / 2, height / 4]);

      svg.selectAll('.lines')
        .data(topojson.feature(provinces, provinces.objects.provincias).features)
        .enter()
        .append('path')
        .attr('fill', () => libMap.getRandomColor())
        .attr('d', d3.geoPath().projection(projection));

      svg.selectAll('.postal')
        .data(topojson.feature(provinces, provinces.objects.autonomicas).features)
        .enter()
        .append('path')
        .attr('fill', (d) => {
          d.opacity = 1; // eslint-disable-line no-param-reassign
          return libMap.getRandomColor();
        })
        .attr('d', d3.geoPath().projection(projection))
        .on('click', function clickPostal(d) {
          d.opacity = d.opacity === 1 ? 0 : 1; // eslint-disable-line no-param-reassign
          d3.select(this).attr('opacity', d.opacity);
        });
    });
  },
};

</script>

<style>
.postal-BI { fill: rgb(76, 41, 231); }
.postal-E { fill: rgb(26, 172, 33); }
.postal-CT { fill: rgb(143, 19, 40); }
.postal-ML { fill: rgb(194, 37, 37); }
.postal-CI { fill: rgb(137, 138, 143);  }
</style>

