<template>
<svg width='500' height='500' xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" style="enable-background:new 0 0 45 45;" xml:space="preserve" version="1.1" id="svg2">
<metadata id="metadata8">
    <rdf:RDF>
        <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        </cc:Work>
    </rdf:RDF>
</metadata>
<defs id="defs6">
    <clipPath id="clipPath16" clipPathUnits="userSpaceOnUse">
        <path id="path18" d="M 0,36 36,36 36,0 0,0 0,36 Z"/>
    </clipPath>
</defs>
<g transform="matrix(1.25,0,0,-1.25,0,45)" id="g10">
    <g id="g12">
        <g clip-path="url(#clipPath16)" id="g14">
            <g transform="translate(36,16.1455)" >
                <path id="header" style="fill:#9266cc;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 0,0 c -2.482,9.931 -10.994,17.945 -19.969,13.022 0,0 -4.521,1.497 -5.174,1.949 -0.634,0.44 -1.634,0.904 -0.912,-0.436 0.423,-0.782 0.875,-1.673 2.404,-3.317 -4.349,-4.322 -3.07,-9.626 -4.606,-13.114 -1.304,-2.961 -2.577,-4.733 -1.309,-6.975 1.317,-2.33 4.729,-3.462 7.017,-1.06 1.244,1.307 0.471,1.937 3.132,4.202 2.724,0.543 4.395,1.791 4.395,4.375 0,0 0.795,0.382 1.826,-6.008 0.456,-2.819 -0.158,-5.632 -0.039,-8.784 L 0,-16.146 0,0 Z"/>
            </g>
            <g transform="translate(36,25.0439)" id="g24">
                <path id="path26" style="fill:#55acee;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 0,0 c -0.749,1.038 -1.281,3.019 -4.094,4.894 0.531,-1.313 0.848,-3.71 0.595,-5.319 -0.15,3.923 -3.188,6.581 -4.376,7.194 -2.202,1.136 -4.372,0.978 -6.799,0.772 0.111,-0.168 0.404,-0.814 0.32,-1.547 -0.479,0.875 -1.604,1.42 -2.332,1.272 -3.5,-0.713 -5.974,-2.232 -5.091,-3.856 8.936,3.476 14.643,-2.161 17.736,-8.704 C -3.272,-6.919 -1.43,-12.426 0,-15.586 L 0,0 Z"/>
            </g>
            <g transform="translate(16.8975,29.269)" id="g28">
                <path id="path30" style="fill:#55acee;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 0,0 c -2.12,-0.564 -5.26,-2.509 -6.537,-4.573 0,0 -2.59,-0.655 -3.631,1.845 2.562,-0.827 4.826,2.34 6.737,3.511 4.029,2.468 3.315,0.186 3.315,0.186 L 0,0 Z"/>
            </g>
            <g transform="translate(13.8477,27.8779)" id="g32">
                <path id="path34" style="fill:#f4900c;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,0 C -0.002,0.002 -0.003,0.005 -0.005,0.007 -0.721,0.716 -12.899,8.632 -13.629,7.903 -14.358,7.174 -3.405,-1.62 -2.699,-2.158 -2.695,-2.16 -2.691,-2.161 -2.688,-2.164 -1.95,-1.358 -0.998,-0.613 0,0"/>
            </g>
            <g transform="translate(13.7891,32.3379)" id="g36">
                <path id="path38" style="fill:#9266cc;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,0 C 0.573,-0.788 3.236,-0.794 4.596,-3.82 5.955,-6.847 2.652,-6.45 1.456,-5.051 0.122,-3.49 -0.475,-2.188 -0.709,-1.059 -0.833,-0.462 -1.16,1.591 0,0"/>
            </g>
            <g transform="translate(14.209,31.0381)" id="g40">
                <path id="path42" style="fill:#744eaa;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,0 C 0.956,-0.573 2.164,-1.515 2.517,-2.596 2.868,-3.677 1.81,-3.487 1.168,-2.554 0.527,-1.62 0.229,-0.579 -0.117,-0.291 -0.463,-0.002 0,0 0,0"/>
            </g>
            <g transform="translate(16.1855,21.6035)" id="g44">
                <path id="path46" style="fill:#292f33;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 0,0 c 0.093,-0.514 -0.248,-1.006 -0.762,-1.099 -0.513,-0.093 -1.006,0.248 -1.098,0.762 -0.093,0.513 0.248,1.006 0.761,1.099 C -0.585,0.855 -0.094,0.513 0,0"/>
            </g>
            <g transform="translate(8.6299,9.123)" id="g48">
                <path id="path50" style="fill:#744eaa;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 0,0 c 0.119,-0.658 -0.181,-1.263 -0.67,-1.352 -0.49,-0.088 -0.984,0.373 -1.103,1.031 -0.12,0.659 0.181,1.264 0.67,1.353 C -0.613,1.121 -0.119,0.66 0,0"/>
            </g>
        </g>
    </g>
</g>
</svg>
</template>
<script>
const d3 = require('d3');

export default {
  name: 'svgRotation',
  mounted() {
    d3.select('#header').style('fill', 'red');
    d3.select('#path34').transition()
      .duration(3000)
      .attr('transform', 'rotate(130)')
      .transition()
      .duration(3000)
      .attr('transform', 'translate(0, -500)');
  },
};
</script>
