<template>
  <div>
    <p> Svgs </p>
    <div id='prueba'></div>
  </div>
</template>

<script>
const d3 = require('d3');

export default {
  name: 'Svgs',
  mounted() {
    const data = [
      [5, 20],
      [480, 90],
      [250, 50],
      [100, 33],
      [330, 95],
      [410, 12],
      [475, 44],
      [25, 67],
      [85, 21],
      [220, 88],
    ];

    const h = 500;
    const w = 500;

    const xmax = d3.max(data, d => d[0]);

    const ymax = d3.max(data, d => d[1]);

    const scaleX = d3.scaleLinear()
      .domain([0, xmax])
      .range([10, w - 20]);

    const scaleY = d3.scaleLinear()
      .domain([0, ymax])
      .range([10, h - 20]);

    const xAxis = d3.axisBottom(scaleX).ticks(3);

    const svg = d3.select('#prueba')
      .append('svg')
      .attr('width', w)
      .attr('height', h);

    svg.append('g')
      .attr('class', 'axis')
      .call(xAxis);

    const group = svg.selectAll('circle')
      .data(data)
      .enter()
      .append('g');

    group.append('circle')
      .attr('class', (d) => {
        console.log(d);
      })
      .attr('cx', d => scaleX(d[0]))
      .attr('cy', d => scaleY(d[1]))
      .attr('r', (d) => {
        const ratio = parseInt(d[1] / 10, 10);
        d.push(ratio);
        return ratio;
      })
      .attr('class', (d) => {
        if (d[2] > 8) {
          return 'red';
        }
        return '';
      });

    group.selectAll('text')
      .data(data)
      .enter()
      .append('text')
      .text(d => `${d[0]}-${d[1]}`)
      .attr('x', d => scaleX(d[0]))
      .attr('y', d => scaleY(d[1]));
  },
};
</script>

<style>
.circle {
  fill: red;
}

.text {
  fill: white;
  font-family: 'Courier New', Courier, monospace;
}

.red {
  fill: red;
}

.green {
  fill: green;
}
</style>

